.new-post-form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.field-new-post-form {
 background-color: white;
}
.MuiInput-underline-125::before {
  background-color: white !important;
}
.content-new-post-form {
  width: 100%;
  background-color: white !important;
} 
.MuiInput-inputSingleline-366 {
  display: none;
}
.MuiInput-inkbar-119:after {
  display: none;
}

.chip-div {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.upload-label-post {
  width: 40px;
  padding: 0 !important;
}

.upload-btn-div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
}

.new-post-submit {
  margin: auto;
  margin-top: 20px;
}
.tag-chip {
  margin: 0px 5px;
}

.tag-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-post-tags {
  height: 30px;
}