.post-card {
  margin-bottom: 20px;
  text-align: left;
}

.posts-container {
  width: 80vw;
  padding: 0;
  margin: 0;
  margin: auto;
}

.post-image {
  width: 100% !important;
  height: 280px !important;
  display: block !important;
}

.card-content {
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 0 !important;
}

.post-para {
  padding: 0 14px !important;
  white-space: pre-wrap !important;
  margin: 10px auto !important;
}

.chip-div {
  margin-bottom: 20px;
}