.drawer-list {
  width: 220px;
  border-top: solid 1px whitesmoke;
}

.close-drawer-btn {
  margin: 10px 0 10px 160px;
}
.search-bar {
  background-color: whitesmoke !important;
  padding-top: 0 !important;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 0 !important;
  margin-left: 5px;
}

.search-item {
  background-color: whitesmoke;
  align-items: center;
  padding: 0 5px;
  height: 40px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.search-item:focus-within {
  margin-left: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

.drawer-list-item {
  height: 40px;
}